body {
	background-repeat:no-repeat;
	background-size:cover;
	background-image: url('art/Fading_Images/Shokolodkis.jpg');
}

.container {
	background-color: hsla(0,100%,100%,.8);
	margin-top: .5em;
	margin-bottom: .5em;
	border-radius: 1em;
}
.sidebar img{
	height:10em;
	width:auto;
	margin-top: .5em;
}
.copyright p{
	font-size: .5em;	
}

.content{
	border-right: 1px;
	border-color: white;
}

#slides {
    display: none
}

.container {
      margin: 0 auto
    }